.wrapper {
    position: absolute;
    background-color: white;
    width: 15rem;
    height: 100%;
}

@media screen and (max-height: 750px) {
    .wrapper {
      height: 150%;
    }
  }

.sidebarItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.sidebarItem:hover {
    background-color: rgba(0, 156, 0, 0.795);
    color: white;
    cursor: pointer;
}

.selected {
    background-color: rgba(0, 156, 0, 0.795);
    color: white;
}