html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background-color: #D3D3D3;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 1920px) {
  body {
    overflow-y: hidden;
  }

  body::-webkit-scrollbar {
    display: none;
  }
}


#root {
  height: 100%;
  width: 100%;
}