.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    background-color: white;
}

.components {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.SearchBar {
    border: none;
    border-radius: 15px;
    align-items: center;
}